h2 {
    font-size:          150%;
    font-family:        Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:              gray;
    text-align:         left;
    margin-top:         32px;
}