<ion-header>
    <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/search"></ion-back-button>
      </ion-buttons>
      <ion-title>Comic details</ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content padding>
   
    <ion-card *ngIf="information">

      <ion-card-header>
        <ion-card-title>
          {{ information.title }}
        </ion-card-title>
        <ion-card-subtitle>
          <p>{{ information.format }} ${{ information.prices[0].price }}</p>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content text-center>
        <img [src]="information.thumbnail.path + '.' + information.thumbnail.extension" class="info-img">
   
        <p>{{information.description}}</p>

        <h2>
          Cover and Stories Information:
        </h2>
        <ion-list *ngFor="let author of information.creators.items">
          <ion-item>
            <p>{{author.name}} - {{author.role}}</p>
          </ion-item>
        </ion-list>

        <h2>
          Extended Credits and Info
        </h2>
        <ion-list>
          <ion-item><h3>Rating: </h3> {{information.rating}}</ion-item>
          <ion-item><h3>Page Count: </h3> {{information.pageCount}}</ion-item>
          <ion-item><h3>diamondCode: </h3> {{information.diamondCode}}</ion-item>
          <ion-item><h3>EAN: </h3> {{information.ean}}</ion-item>
          <ion-item><h3>ISBN: </h3> {{information.isbn}}</ion-item>
          <ion-item><h3>UPC: </h3> {{information.upc}}</ion-item>
          <ion-item><h3>On Sale (publication) Date: </h3> {{information.dates[0].date}}</ion-item>
          <ion-item><h3>FOC Date: </h3> {{information.dates[1].date}}</ion-item>
        </ion-list>

        <h2>
            Characters in this comic:
        </h2>
        <ion-list *ngFor="let char of information.characters.items">
          <ion-item>
            <p>{{char.name}}</p>
          </ion-item>
        </ion-list>

        <ion-button expand="full" (click)="openWebsite()" *ngIf="information.urls[0] && information.urls.length !== 0">
          <ion-icon name="open" slot="start"></ion-icon>
          Open Website
        </ion-button>

      </ion-card-content>
    </ion-card>

    <!-- Still need more cards for each stuff: comics, events series, stories -->

  </ion-content>