<ion-header>
  <ion-toolbar color="danger">
    <ion-title>My Hero Search</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
 
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)"></ion-searchbar>
 
  <ion-item>
    <ion-label>Select Searchtype</ion-label>
    <ion-select [(ngModel)]="type" (ionChange)="searchChanged($event)">
      <ion-select-option value="comics">Comics</ion-select-option>
      <ion-select-option value="characters">Characters</ion-select-option>
      <ion-select-option value="cwac">Comics with a character</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-grid color="" *ngIf="this.heroService.attributionText">
    <ion-row>

      <ion-col align-self-start>
        <ion-button (click)="previousResults()" id="searchLeft"  class="searchPageButtons ion-float-left" ><b>Previous</b></ion-button>
      </ion-col>

      <span align-self-center class="ion-text-center searchPageButtons" *ngIf="((total !== undefined) || (total !== null))">
        <!-- Showing the first {{this.heroService.limit + this.heroService.offset}} of {{this.heroService.total}} results.  -->
        Page {{this.currentPage}} of {{this.pageCount}}
      </span>

      <ion-col align-self-end>
        <ion-button (click)="nextResults()" size="3" id="searchRight" class="searchPageButtons ion-float-right"><b>Next</b></ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-list *ngIf="type === 'characters'">
 
    <ion-item button *ngFor="let hero of resultsToShow" [routerLink]="['/', 'characters', hero.id]">
      <ion-avatar slot="start">
        <img [src]="hero.thumbnail.path + '.' + hero.thumbnail.extension" *ngIf="hero.thumbnail.path != 'N/A'">
      </ion-avatar>
 
      <ion-label text-wrap>
        <h3>{{ hero.name }}</h3>
        {{ hero.comics.available }} available comics
      </ion-label>
 
    </ion-item>
 
  </ion-list>

  <ion-list *ngIf="type === 'comics'">
 
    <ion-item button *ngFor="let comic of resultsToShow" [routerLink]="['/', 'comics', comic.id]">
      <ion-avatar slot="start">
        <img [src]="comic.thumbnail.path + '.' + comic.thumbnail.extension" *ngIf="comic.thumbnail.path != 'N/A'">
      </ion-avatar>
 
      <ion-label text-wrap>
        <h2>{{ comic.title }}</h2>
        <h3>{{this.comicsAuthors}}</h3>
        <p>{{ comic.format }} ${{ comic.prices[0].price }}</p>
      </ion-label>
 
    </ion-item>
 
  </ion-list>

  <ion-footer *ngIf="this.heroService.attributionText">
    <ion-toolbar>
      <ion-title>{{this.heroService.attributionText}}</ion-title>
    </ion-toolbar>
  </ion-footer>

</ion-content>